{% extends "base.html" %}

{% block main %}
    <h2>{{ title }}</h2>
    <p>{{ sort }}</p>
    <table>
        <thead>
            <tr>
                <th><a href="/sort/{{title}}?sort=name&order={{ order }}">Name</a></th>
                <th><a href="/sort/{{title}}?sort=number&order={{ order }}">Number</a></th>
            </tr>
        </thead>
        <tbody>
            {% for card in cards %}
            <tr>
                <td>{{ card[0] }}</td>
                <td>{{ card[1] }}</td>
                <td>{{ card[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}